html,
body,
ul,
li {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-size: 14px!important;
    height: 100%;
    width: 100%;
}

body {
    background: #f5f5f5
}









/****************** 顶/底部固定 ***************/

.fixed_top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}

.fixed_bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%
}









/***************** 去除自带style ****************/

a,
a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}









/******************* 浮动样式 *******************/

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}

.c_after:after {
    content: '';
    clear: both;
}









/******************* flex样式 *******************/

.flex {
    display: flex;
}

.flexCenter {
    align-items: center;
    justify-content: center;
}

.flexWrap {
    flex-wrap: wrap;
}

.flexBetween {
    justify-content: space-between;
}

.flexAround {
    justify-content: space-around;
}

.flexA-between {
    align-content: space-between
}

.flexA-around {
    align-content: space-around
}

.flexEnd {
    align-items: flex-end
}

.flexACenter {
    align-content: center;
}









/******************* 栅格排版样式 *******************/

.wd-5 {
    width: 5%;
}

.wd-10 {
    width: 10%;
}

.wd-15 {
    width: 15%;
}

.wd-20 {
    width: 20%;
}

.wd-25 {
    width: 25%;
}

.wd-30 {
    width: 30%;
}

.wd-35 {
    width: 35%;
}

.wd-40 {
    width: 40%;
}

.wd-45 {
    width: 45%;
}

.wd-50 {
    width: 50%;
}

.wd-55 {
    width: 55%;
}

.wd-60 {
    width: 60%;
}

.wd-65 {
    width: 65%;
}

.wd-70 {
    width: 70%;
}

.wd-75 {
    width: 75%;
}

.wd-80 {
    width: 80%;
}

.wd-85 {
    width: 85%;
}

.wd-90 {
    width: 90%;
}

.wd-95 {
    width: 95%;
}

.wd-100 {
    width: 100%;
}

.wd-33 {
    width: 33.3%
}









/********************* 内外间距样式 *******************/

.pd-5 {
    padding: 5px;
}

.pd-10 {
    padding: 10px;
}

.pd-15 {
    padding: 15px;
}

.pd-20 {
    padding: 20px;
}

.pd-25 {
    padding: 25px;
}

.pd-30 {
    padding: 30px;
}

.pd-35 {
    padding: 35px;
}

.pd-40 {
    padding: 40px;
}

.pd-45 {
    padding: 45px;
}

.pd-50 {
    padding: 50px;
}

.pd-55 {
    padding: 55px;
}

.pd-60 {
    padding: 60px;
}

.pd-65 {
    padding: 65px;
}

.pd-70 {
    padding: 70px;
}

.pd-75 {
    padding: 75px;
}

.pd-80 {
    padding: 80px;
}

.pd-85 {
    padding: 85px;
}

.pd-90 {
    padding: 90px;
}

.pd-95 {
    padding: 95px;
}

.pd-100 {
    padding: 100px;
}

.pd-l-5 {
    padding-left: 5px;
}

.pd-l-10 {
    padding-left: 10px;
}

.pd-l-15 {
    padding-left: 15px;
}

.pd-l-20 {
    padding-left: 20px;
}

.pd-l-25 {
    padding-left: 25px;
}

.pd-l-30 {
    padding-left: 30px;
}

.pd-l-35 {
    padding-left: 35px;
}

.pd-l-40 {
    padding-left: 40px;
}

.pd-l-45 {
    padding-left: 45px;
}

.pd-l-50 {
    padding-left: 50px;
}

.pd-l-55 {
    padding-left: 55px;
}

.pd-l-60 {
    padding-left: 60px;
}

.pd-l-65 {
    padding-left: 65px;
}

.pd-l-70 {
    padding-left: 70px;
}

.pd-l-75 {
    padding-left: 75px;
}

.pd-l-80 {
    padding-left: 80px;
}

.pd-l-85 {
    padding-left: 85px;
}

.pd-l-90 {
    padding-left: 90px;
}

.pd-l-95 {
    padding-left: 95px;
}

.pd-l-100 {
    padding-left: 100px;
}

.pd-r-5 {
    padding-right: 5px;
}

.pd-r-10 {
    padding-right: 10px;
}

.pd-r-15 {
    padding-right: 15px;
}

.pd-r-20 {
    padding-right: 20px;
}

.pd-r-25 {
    padding-right: 25px;
}

.pd-r-30 {
    padding-right: 30px;
}

.pd-r-35 {
    padding-right: 35px;
}

.pd-r-40 {
    padding-right: 40px;
}

.pd-r-45 {
    padding-right: 45px;
}

.pd-r-50 {
    padding-right: 50px;
}

.pd-r-55 {
    padding-right: 55px;
}

.pd-r-60 {
    padding-right: 60px;
}

.pd-r-65 {
    padding-right: 65px;
}

.pd-r-70 {
    padding-right: 70px;
}

.pd-r-75 {
    padding-right: 75px;
}

.pd-r-80 {
    padding-right: 80px;
}

.pd-r-85 {
    padding-right: 85px;
}

.pd-r-90 {
    padding-right: 90px;
}

.pd-r-95 {
    padding-right: 95px;
}

.pd-r-100 {
    padding-right: 100px;
}

.pd-t-5 {
    padding-top: 5px;
}

.pd-t-10 {
    padding-top: 10px;
}

.pd-t-15 {
    padding-top: 15px;
}

.pd-t-20 {
    padding-top: 20px;
}

.pd-t-25 {
    padding-top: 25px;
}

.pd-t-30 {
    padding-top: 30px;
}

.pd-t-35 {
    padding-top: 35px;
}

.pd-t-40 {
    padding-top: 40px;
}

.pd-t-45 {
    padding-top: 45px;
}

.pd-t-50 {
    padding-top: 50px;
}

.pd-t-55 {
    padding-top: 55px;
}

.pd-t-60 {
    padding-top: 60px;
}

.pd-t-65 {
    padding-top: 65px;
}

.pd-t-70 {
    padding-top: 70px;
}

.pd-t-75 {
    padding-top: 75px;
}

.pd-t-80 {
    padding-top: 80px;
}

.pd-t-85 {
    padding-top: 85px;
}

.pd-t-90 {
    padding-top: 90px;
}

.pd-t-95 {
    padding-top: 95px;
}

.pd-t-100 {
    padding-top: 100px;
}

.pd-b-5 {
    padding-bottom: 5px;
}

.pd-b-10 {
    padding-bottom: 10px;
}

.pd-b-15 {
    padding-bottom: 15px;
}

.pd-b-20 {
    padding-bottom: 20px;
}

.pd-b-25 {
    padding-bottom: 25px;
}

.pd-b-30 {
    padding-bottom: 30px;
}

.pd-b-35 {
    padding-bottom: 35px;
}

.pd-b-40 {
    padding-bottom: 40px;
}

.pd-b-45 {
    padding-bottom: 45px;
}

.pd-b-50 {
    padding-bottom: 50px;
}

.pd-b-55 {
    padding-bottom: 55px;
}

.pd-b-60 {
    padding-bottom: 60px;
}

.pd-b-65 {
    padding-bottom: 65px;
}

.pd-b-70 {
    padding-bottom: 70px;
}

.pd-b-75 {
    padding-bottom: 75px;
}

.pd-b-80 {
    padding-bottom: 80px;
}

.pd-b-85 {
    padding-bottom: 85px;
}

.pd-b-90 {
    padding-bottom: 90px;
}

.pd-b-95 {
    padding-bottom: 95px;
}

.pd-b-100 {
    padding-bottom: 100px;
}

.mg-5 {
    margin: 5px;
}

.mg-10 {
    margin: 10px;
}

.mg-15 {
    margin: 15px;
}

.mg-20 {
    margin: 20px;
}

.mg-25 {
    margin: 25px;
}

.mg-30 {
    margin: 30px;
}

.mg-35 {
    margin: 35px;
}

.mg-40 {
    margin: 40px;
}

.mg-45 {
    margin: 45px;
}

.mg-50 {
    margin: 50px;
}

.mg-55 {
    margin: 55px;
}

.mg-60 {
    margin: 60px;
}

.mg-65 {
    margin: 65px;
}

.mg-70 {
    margin: 70px;
}

.mg-75 {
    margin: 75px;
}

.mg-80 {
    margin: 80px;
}

.mg-85 {
    margin: 85px;
}

.mg-90 {
    margin: 90px;
}

.mg-95 {
    margin: 95px;
}

.mg-100 {
    margin: 100px;
}

.mg-l-5 {
    margin-left: 5px;
}

.mg-l-10 {
    margin-left: 10px;
}

.mg-l-15 {
    margin-left: 15px;
}

.mg-l-20 {
    margin-left: 20px;
}

.mg-l-25 {
    margin-left: 25px;
}

.mg-l-30 {
    margin-left: 30px;
}

.mg-l-35 {
    margin-left: 35px;
}

.mg-l-40 {
    margin-left: 40px;
}

.mg-l-45 {
    margin-left: 45px;
}

.mg-l-50 {
    margin-left: 50px;
}

.mg-l-55 {
    margin-left: 55px;
}

.mg-l-60 {
    margin-left: 60px;
}

.mg-l-65 {
    margin-left: 65px;
}

.mg-l-70 {
    margin-left: 70px;
}

.mg-l-75 {
    margin-left: 75px;
}

.mg-l-80 {
    margin-left: 80px;
}

.mg-l-85 {
    margin-left: 85px;
}

.mg-l-90 {
    margin-left: 90px;
}

.mg-l-95 {
    margin-left: 95px;
}

.mg-l-100 {
    margin-left: 100px;
}

.mg-r-5 {
    margin-right: 5px;
}

.mg-r-10 {
    margin-right: 10px;
}

.mg-r-15 {
    margin-right: 15px;
}

.mg-r-20 {
    margin-right: 20px;
}

.mg-r-25 {
    margin-right: 25px;
}

.mg-r-30 {
    margin-right: 30px;
}

.mg-r-35 {
    margin-right: 35px;
}

.mg-r-40 {
    margin-right: 40px;
}

.mg-r-45 {
    margin-right: 45px;
}

.mg-r-50 {
    margin-right: 50px;
}

.mg-r-55 {
    margin-right: 55px;
}

.mg-r-60 {
    margin-right: 60px;
}

.mg-r-65 {
    margin-right: 65px;
}

.mg-r-70 {
    margin-right: 70px;
}

.mg-r-75 {
    margin-right: 75px;
}

.mg-r-80 {
    margin-right: 80px;
}

.mg-r-85 {
    margin-right: 85px;
}

.mg-r-90 {
    margin-right: 90px;
}

.mg-r-95 {
    margin-right: 95px;
}

.mg-r-100 {
    margin-right: 100px;
}

.mg-t-5 {
    margin-top: 5px;
}

.mg-t-10 {
    margin-top: 10px;
}

.mg-t-15 {
    margin-top: 15px;
}

.mg-t-20 {
    margin-top: 20px;
}

.mg-t-25 {
    margin-top: 25px;
}

.mg-t-30 {
    margin-top: 30px;
}

.mg-t-35 {
    margin-top: 35px;
}

.mg-t-40 {
    margin-top: 40px;
}

.mg-t-45 {
    margin-top: 45px;
}

.mg-t-50 {
    margin-top: 50px;
}

.mg-t-55 {
    margin-top: 55px;
}

.mg-t-60 {
    margin-top: 60px;
}

.mg-t-65 {
    margin-top: 65px;
}

.mg-t-70 {
    margin-top: 70px;
}

.mg-t-75 {
    margin-top: 75px;
}

.mg-t-80 {
    margin-top: 80px;
}

.mg-t-85 {
    margin-top: 85px;
}

.mg-t-90 {
    margin-top: 90px;
}

.mg-t-95 {
    margin-top: 95px;
}

.mg-t-100 {
    margin-top: 100px;
}

.mg-b-5 {
    margin-bottom: 5px;
}

.mg-b-10 {
    margin-bottom: 10px;
}

.mg-b-15 {
    margin-bottom: 15px;
}

.mg-b-20 {
    margin-bottom: 20px;
}

.mg-b-25 {
    margin-bottom: 25px;
}

.mg-b-30 {
    margin-bottom: 30px;
}

.mg-b-35 {
    margin-bottom: 35px;
}

.mg-b-40 {
    margin-bottom: 40px;
}

.mg-b-45 {
    margin-bottom: 45px;
}

.mg-b-50 {
    margin-bottom: 50px;
}

.mg-b-55 {
    margin-bottom: 55px;
}

.mg-b-60 {
    margin-bottom: 60px;
}

.mg-b-65 {
    margin-bottom: 65px;
}

.mg-b-70 {
    margin-bottom: 70px;
}

.mg-b-75 {
    margin-bottom: 75px;
}

.mg-b-80 {
    margin-bottom: 80px;
}

.mg-b-85 {
    margin-bottom: 85px;
}

.mg-b-90 {
    margin-bottom: 90px;
}

.mg-b-95 {
    margin-bottom: 95px;
}

.mg-b-100 {
    margin-bottom: 100px;
}

.mg-auto {
    margin: 0 auto
}









/*********************** 字体样式 ************************/

.font12 {
    font-size: 12px
}

.font13 {
    font-size: 13px
}

.font14 {
    font-size: 14px
}

.font15 {
    font-size: 15px
}

.font16 {
    font-size: 16px
}

.font18 {
    font-size: 18px
}

.font20 {
    font-size: 20px
}

.font22 {
    font-size: 22px
}

.font24 {
    font-size: 24px
}

.font32 {
    font-size: 32px
}

.font50 {
    font-size: 50px
}

.lh10 {
    line-height: 10px
}

.lh11 {
    line-height: 11px
}

.lh12 {
    line-height: 12px
}

.lh13 {
    line-height: 13px
}

.lh14 {
    line-height: 14px
}

.lh15 {
    line-height: 15px
}

.lh16 {
    line-height: 16px
}

.lh17 {
    line-height: 17px
}

.lh18 {
    line-height: 18px
}

.lh19 {
    line-height: 19px
}

.lh20 {
    line-height: 20px
}

.lh21 {
    line-height: 21px
}

.lh22 {
    line-height: 22px
}

.lh23 {
    line-height: 23px
}

.lh24 {
    line-height: 24px
}

.lh26 {
    line-height: 26px
}

.lh28 {
    line-height: 28px
}

.lh30 {
    line-height: 30px
}

.lh32 {
    line-height: 32px
}

.lh35 {
    line-height: 35px
}

.lh40 {
    line-height: 40px
}

.lh45 {
    line-height: 45px
}

.lh50 {
    line-height: 50px
}

.lh60 {
    line-height: 60px
}

.fontb {
    font-weight: bold
}









/********************* 字体对齐方式 ***********************/

.ta-center {
    text-align: center
}

.ta-left {
    text-align: left
}

.ta-right {
    text-align: right
}









/********************* 线条边框 ***********************/

.border {
    border: solid 1px #e1e1e1
}

.border-l {
    border-left: solid 1px #e1e1e1!important
}

.border-r {
    border-right: solid 1px #e1e1e1!important
}

.border-t {
    border-top: solid 1px #e1e1e1!important
}

.border-b {
    border-bottom: solid 1px #e1e1e1!important
}

.line {
    height: 1px;
    width: 100%;
    background: #e1e1e1
}









/********************* 弯角样式 ***********************/

.radius5 {
    border-radius: 5px
}

.radius10 {
    border-radius: 10px
}

.radius15 {
    border-radius: 15px
}

.radius20 {
    border-radius: 20px
}

.radius25 {
    border-radius: 25px
}

.radius30 {
    border-radius: 30px
}









/********************* 盒子样式 ***********************/

.box {
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;

    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    display: box;
    box-pack: center;
    box-align: center;
}









/************************ 列数样式 *******************************/

.columns {
    columns: 100px 3;
    -moz-columns: 100px 3;
    -webkit-columns: 100px 3;
}









/************************** 光标样式 *****************************/

.pointer {
    cursor: pointer;
}









/************************** 箭头标样式 ***************************/


/* 向上角 */

.uArow:after {
    position: absolute;
    content: '';
    right: 10px;
    top: 10px;
    width: 8px;
    height: 8px;
    border: #999999 1px solid;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}


/* 向下角 */

.dArow:after {
    position: absolute;
    content: '';
    right: 10px;
    top: 10px;
    width: 8px;
    height: 8px;
    border: #999999 1px solid;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}









/* 向右角 */

.rArow:after {
    position: absolute;
    content: '';
    right: 10px;
    margin-top: 5px;
    width: 8px;
    height: 8px;
    border: #999999 1px solid;
    border-bottom: none;
    border-left: none;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}









/* 向左角 */

.lArow:after {
    position: absolute;
    content: '';
    right: 10px;
    top: 10px;
    width: 8px;
    height: 8px;
    border: #999999 1px solid;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}









/*************************** 角标样式 ****************************/


/* 下三角 */

.dTrigon:after {
    position: absolute;
    right: 13px;
    top: 18px;
    width: 0;
    height: 0;
    content: "";
    border-width: 8px 8px 0 8px;
    border-style: solid;
    border-color: #666666 transparent;
    -webkit-transition: rotate(0deg);
    -moz-transition: rotate(0deg);
    -ms-transition: rotate(0deg);
    -o-transition: rotate(0deg);
    transition: rotate(0deg);
}









/* 上三角 */

.dTrigon:after {
    position: absolute;
    right: 13px;
    top: 18px;
    width: 0;
    height: 0;
    content: "";
    border-width: 8px 8px 0 8px;
    border-style: solid;
    border-color: #666666 transparent;
    -webkit-transition: rotate(180deg);
    -moz-transition: rotate(180deg);
    -ms-transition: rotate(180deg);
    -o-transition: rotate(180deg);
    transition: rotate(180deg);
}









/* 左三角 */

.dTrigon:after {
    position: absolute;
    right: 13px;
    top: 18px;
    width: 0;
    height: 0;
    content: "";
    border-width: 8px 8px 0 8px;
    border-style: solid;
    border-color: #666666 transparent;
    -webkit-transition: rotate(90deg);
    -moz-transition: rotate(90deg);
    -ms-transition: rotate(90deg);
    -o-transition: rotate(90deg);
    transition: rotate(90deg);
}









/* 右三角 */

.dTrigon:after {
    position: absolute;
    right: 13px;
    top: 18px;
    width: 0;
    height: 0;
    content: "";
    border-width: 8px 8px 0 8px;
    border-style: solid;
    border-color: #666666 transparent;
    -webkit-transition: rotate(-90deg);
    -moz-transition: rotate(-90deg);
    -ms-transition: rotate(-90deg);
    -o-transition: rotate(-90deg);
    transition: rotate(-90deg);
}









/**************************** 打钩样式 *****************************/

.i_right:after {
    position: absolute;
    content: '';
    right: 20px;
    top: 10px;
    width: 20px;
    height: 10px;
    border: #666666 1px solid;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}









/************************ 打叉（关闭）样式 *************************/

.i_close:after,
.i_close:before {
    position: absolute;
    left: 50px;
    top: 50px;
    content: "";
    background: #000;
    width: 15px;
    height: 1px
}

.i_close:before {
    -webkit-transition: rotate(45deg);
    -moz-transition: rotate(45deg);
    -ms-transition: rotate(45deg);
    -o-transition: rotate(45deg);
    transition: rotate(45deg);
}

.i_close:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}









/*************************** 优惠券样式 *****************************/

.stamp {
    height: 140px;
    padding: 0 10px;
    position: relative;
    overflow: hidden;
}

.stamp:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    z-index: -1;
}

.stamp:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
    z-index: -2;
}

.stamp i {
    position: absolute;
    left: 20%;
    top: 45px;
    height: 190px;
    width: 390px;
    background-color: rgba(255, 255, 255, .15);
    transform: rotate(-30deg);
}

.stamp .par {
    float: left;
    padding: 10px 5%;
    /* width: 45%; */
    /* border-right:2px dashed rgba(255,255,255,.3); */
    text-align: left;
}

.stamp .par p {
    color: #fff;
}

.stamp .par span {
    font-size: 36px;
    color: #fff;
    margin-right: 5px;
}

.stamp .par .sign {
    font-size: 26px;
}

.stamp .par sub {
    position: relative;
    top: -5px;
    color: rgba(255, 255, 255, .8);
}

.stamp .copy {
    display: inline-block;
    padding: 10px 5%;
    /* width:30%; */
    vertical-align: text-bottom;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.stamp .copy div {
    font-size: 16px;
}









/* .coupon{
    background: #F39B00;
    background: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 5px, #F39B00 5px);
    background-size: 15px 15px;
    background-position: 9px 3px;
}
.coupon:before{
    background-color:#F39B00;
} */


/************************ 隐藏样式 *********************/

.hide {
    display: none
}